.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup h4,
.popup p {
  color: black;
}

.popup p {
  font-size: 12px;
  margin-bottom: 22px;
  height: 100px;
  overflow-y: scroll;
}

.popup-content {
  background-color: #f4f0f0;
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.popup-close {
  color: black;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.popup-close:hover {
  color: #e42b26;
}

.popup button {
  border: none;
  outline: none;
  background-color: #e42b26;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all ease 0.3s;
}

.popup button:hover {
  background-color: black;
  color: white;
}

.popup .popup-middle {
  margin-top: 15px;
}

.popup-middle h3 {
  max-width: 400px;
}

.popup .popup-header {
  height: 20vh;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}

.popup .popup-header img {
  width: 18vh;
  height: 120px;
  border-radius: 6px;
}

.popup .dish-ingredients {
  margin-bottom: 22px;
  list-style: none;
  padding: 0;
}

.popup .dish-ingredients li {
  display: inline-block;
  background-color: #e42b26;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 10px;
  margin-right: 5px;
  color: white;
}
