


.trending-books-list{
    text-align: center;
   
}

section {
    margin: 1.2rem 0;

  }

.trending-books-list li button{
    width: 100%; 
    background-color: #e42b26;
}



.trending-books-list li img{
    transition: transform 400ms;
    border-radius: 6px; 
    height: 179px;
    width: 132px;
    cursor: pointer;

}

.trending-books-list li img:hover{
    transform: scale(1.08);
}

.trending-books-list ul{
    justify-content: center;
    text-align: center;
    margin: 10px;
    list-style: none;
   
}


