* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
  
} */

.navbar{
  position: fixed;
    background-color: white;
    top: 0;
    
}

.first-nav {
  background-color: #e42b26;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
}

#toll-free {
  font-size: small;
}

.gap-5 {
  gap: 5rem;
}

.first-nav-lists {
  list-style: none;
  text-decoration: none;
}
.first-nav-lists a {
  text-decoration: none;
  color: white; 
  /* margin: 0 25px; */
 }

.navbar{
  height: 40px;
  /* margin-top: 14px; */
} 


.logo-image{
    height: 5.5rem;
    width: 10.3rem; 
    margin-right: 2rem;
    margin-left: 1.2rem;
 } 

 .search-box{
    width: 35rem;
    border-radius: 5px;
    justify-content: space-evenly;
    gap: 3rem;
    outline: none;
    padding-left: 5px;
    border: 1px solid rgb(175, 175, 175);
    color: rgb(101, 100, 100);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
 }

 

  .icon a {
    text-decoration: none;
    margin-right: 2.5rem;
   
  } 

  .icon{
    margin-left: 2.5rem;
   
  }

  .icon i:hover {
    color: #e42b26;
  }

  .icon li{
    list-style: none;
    margin-left: 90px;
    margin-bottom: 23px;
   
  }

  .navbar-nav a{
    text-decoration: none;
  }

  .navbar-nav button{
    border: none;
    background: none;
    
  }

  .navbar-nav button i{
    color:rgb(97, 97, 97);
  }

  .items{
    margin-left: 80px;
  }

  .items li{
    list-style: none; 
    margin-right: 20px;
  }

  .items a{
    text-decoration: none;
    
  }

  



 